.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  height: 100vh;
}

.dashboard {
  background-color: #0ea5e9;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.header {
  background-color: lightgreen;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.projects {
  background-color: grey;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.sidebar {
  background-color: lightblue;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.trending {
  background-color: white;
  min-width: 200px;
  min-height: 300px;
}

.announcements {
  background-color: white;
  min-height: 300px;
  min-width: 200px;
}

.cards {
  min-height: 200px;
}
